body {
  background-color:#222;
}

.wrapper {
  display: block;
  position: absolute;
  top: 50%;
  left:50%;
  -webkit-transform: translate(-50%,-50%);
}

h1 a {
  color: #fff;
  font-size: 2em;
  text-decoration: none;
  display: inline-block;
  position: relative;
  font-family: 'Dosis', sans-serif;
}

/*effect-underline*/
a.effect-underline:after {
  content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 1px solid;
  margin-top: 10px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0,1);
  transform: scale(0,1);
}

a.effect-underline:hover:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

/*effect-box*/
a.effect-box:after,
a.effect-box:before {
  content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  margin-top: 10px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  
}

a.effect-box:before {
  border-left: 1px solid;
  border-right: 1px solid;
  -webkit-transform: scale(1,0);
  transform: scale(1,0);
}

a.effect-box:after {
  border-bottom: 1px solid;
  border-top: 1px solid;
  -webkit-transform: scale(0,1);
  transform: scale(0,1);
}

a.effect-box:hover:after,
a.effect-box:hover:before {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* effect-shine */
a.effect-shine:hover {
  -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;
}

@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  
  to {
    -webkit-mask-position: -50%;
  }
}
h2{
    color: white;
    text-align: center;
    border-bottom: -350px;
}

.glow-nav {
 background-color: #333;
 border-radius: 8px;
 box-shadow: 0 0 15px rgba(0, 255, 255, 0.5);
 padding: 10px 20px;
}


.glow-nav ul {
 list-style: none;
 padding: 0;
 margin: 0;
 display: flex;
}


.glow-nav ul li {
 margin: 0 10px;
 padding: 5px;
}


.glow-nav ul li a {
 color: #fff;
 padding: 5px;
 text-decoration: none;
 transition: color 0.3s ease, box-shadow 0.3s ease;
}


.glow-nav ul li a:hover {
 color: #0ff;
 box-shadow: 0 0 8px 4px #0ff;
}

p{
  color: #fff;
  text-align: center;
}

.glowing-border {
 padding: 20px 40px;
 font-size: 2rem;
 color: #9a4545;
 border: 5px solid;
 border-radius: 10px;
 border-color: #ff00ff;


 animation: glow-border 2s infinite alternate;
}


@keyframes glow-border {
 0% {
   border-color: #ff00ff;
 }
 50% {
   border-color: #00ffff;
 }
 100% {
   border-color: #ff00ff;
 }
}